{% extends 'user_base.html' %}

{% block user_title %}Password reset email sent{% endblock user_title %}

{% block user_content %}
<div class="auth-card">
    <h1 class="auth-title">Password reset email sent</h1>
    
    <div class="auth-message">
        <p>We've emailed you instructions for setting your password.</p>
        <p>If you don't receive an email, please check your spam folder or make sure you entered the correct email address.</p>
    </div>
    
    <div class="auth-footer">
        <a href="{% url 'login' %}" class="auth-link">Return to login</a>
    </div>
</div>
{% endblock user_content %}
